.hero-columns {
  width: 100%;
}

.icon.is-large .fa {
  font-size: 1.5rem;
}

@media screen and (min-width: 768px) {
  .hero-columns {
    flex-grow: 1;
  }
}

.reader-icon {
  width: 1.5rem;
  height: 1.5rem;
  color: white;
}