{% extends "base.html" %}

{% block title %}
Log in
{% endblock %}

{%load crispy_forms_tags %} 


{% block content %}
<div class="p-5 columns is-desktop">

  <div class="column is-offset-one-quarter is-half is-flex-direction-column is-justify-content-center align-items-center">

      <h1 class="title is-2 has-text-centered"> Log In</h1>

      <div id="login">
        <form method = "post" class = "form-group" action = "/login/">
    
          {% csrf_token %}
          {% if next %}
              <input type="hidden" name="next" value="{{ next }}" />
          {% endif %}

          

          <div class="field">
            <label class="label">Username</label>
            <div class="control has-icons-left has-icons-right">
              <input class="input" type="text" placeholder="Your community username" value="" name = "username" id = "password">
              <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
              </span>
            </div>
          </div>
      
          <div class="field">
            <label class="label">Password</label>
      
            <p class="control has-icons-left">
              <input class="input" type="password" placeholder="Password" name = "password" id="password">
              <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
              </span>
            </p>
          </div>
      
          <div class="field">
            <p class="control">
              <button class="button is-success" type = "submit">
                Login
              </button>
            </p>
          </div>

          {% for field in form.visible_fields %}


            <p class="has-text-danger">
              {{ field.errors }}
            </p>
          {% endfor %}

          <p class="has-text-danger	">
            {{ form.source.errors }}
            {{ form.non_field_errors }}
          </p>


      
          <br/>
          <br/>
          <span> Don't have an account for your community? </span>
          <a href = "/register"> Make one <a/>
      
        </form>
      </div>
    

  </div>
    

</div>



{% endblock %}