{% extends 'base.html' %} 
{% load static %} 
<link rel="stylesheet" href="{% static 'css/about.css' %}">

{% block title %} About GreenQode {%endblock %} 

{% block content %}


<div class="p-5">
  <h1 class = "title is-3 has-text-centered"> About GreenQode </h1>

  <div class="box">
    <h3 class = "title is-4"> What is GreenQode?</h3>
    
    <p class = "is-size-5"> 
      GreenQode is a platform that I have developed that allows communities to easily communicate information about trees and plants in their communities with interested people using QR codes. I was inspired to create this after my visit to Lodhi Gardens a few years ago, where we saw  QR codes on trees and scanned them to learn more about them.
      <br/><br/>
      On this site, a community manager enters information about a tree or plant into the website. With one click of a button, they can generate a printable PDF consisting of QR codes that link to a webpage with the information previously entered. The platform can be used by any organisation – local park, RWA, school, university etc. - which would like to encourage its visitors to learn more about the flora in their community.
      <br/><br/>
      When a community member scans the QR code using their mobile phone, they’re taken to a page on the internet showing what the community manager added.
      This means that community managers can enter details, print the QR code, then update the details without having to update the QR codes. 
      <br> <br> 
  
      The main advantages of using GreenQode to a community manager are:
      
      <ol class = "p-5"> 
  
        <li class = "is-size-5">It allows any community - regardless of technical ability - to set up such a system</li>
        <li class = "is-size-5">Information can be updated over time without having to reprint the paper, since the QR code just points to a link on the internet</li>
        <li class = "is-size-5">It's more convenient for community members to read the information on a screen than having to read a printed paper that's vulnerable to damage or may be uncomfortably placed</li>
        <li class = "is-size-5">QR codes which contain the information themselves can't be updated and are limited in how much information they can store </li>
      </ol>
  
      <br> <br> 
    </p>
  </div>


  <div class="box">
    <h3 class = "title is-4"> Who made it? </h3>
  
    <p class = "is-size-5"> 
      I’m Arjun Sharma, an 11th grade student living in Gurgaon. I’ve been interested in technology since I was eleven years old. Since starting programming in seventh grade, I've explored app development, machine learning and AI, full-stack development and scripting in various different projects.
      I pen my thoughts on all thngs tech on my personal blog, <a href = "throbac.xyz"> Throbac</a>. 
  
      <br>
      <br>
  
      Contact me at <b> contact.greenqode@gmail.com  </b> if you have any questions or comments regarding the website.
      You can email me at <b> arjun.sharma07@outlook.com <b> for other matters.
      
      <br>
      <br>
  
      
    </p>
  </div>

</div>

<style> 

</style>


<link rel="stylesheet" href="{% static 'css/about.css' %}">

{% endblock %}
