{% extends 'base.html' %} 
{% load static %} 

{% block title %} About GreenQode {%endblock %} 

{% block content %}

<section class="section">

<div class="container">

  <div class="column is-12">
    <div class="box has-background-primary-dark has-text-white">
      <div class="content">
        <h3 class = "has-text-white">What is GreenQode?</h3>
        <p>GreenQode allows communities to <strong class="has-text-white">create and print QR codes</strong> that link to information about the trees and plants in their community. </p>
        <p>
          This information includes a description (fun facts, historical information, trivia, uses, and so on) and a list of locations in the community in which the plant can be found. </p>
        </p>
      </div>
    </div>
  </div>

  <div class="column is-12">
    <div class="box has-background-primary-dark has-text-white">
      <div class="content">
        <h3 class = "has-text-white">How does GreenQode work? </h3>
        <p>Once you create a GreenQode account, you enter information about the flora in your community - plus the number of QR codes you want to print for that plant or tree. </p>
        
        <p>
          With a click of a button, you can then <strong class="has-text-white">print a PDF with all your QR codes</strong>. The PDF has cutting lines and labels to ease the process for you.
        </p>

        <p>
          Put up the QR codes on the trees and plants in your community. When someone scans any of these QR codes with a mobile phone camera, they're instantly taken to a webpage containing the information you've entered for that particular tree or plant.  
        </p>

      </div>
    </div>
  </div>

  <div class="column is-12">

    <div class="box has-background-primary-dark has-text-white">
      <div class="content">
        <h3 class = "has-text-white"> Why GreenQode? </h3>
        <p>
          Traditional approaches to sharing information about trees and plants include using plaques or collecting information in booklets. 
          However, these are typically difficult to update, hard to scale, and expensive to install. 
        </p>
        <p>
          Using compact, printable QR codes that you can install on or next to any tree or plant, you can avoid all these problems. The QR codes always link directly to a webpage with the <strong class="has-text-white">latest information</strong>  you've entered. 

        </p>
      </div>

    </div>
  </div>

  <div class="column is-12">
    <div class="box has-background-primary-dark has-text-white">

      <div class="content">

        <h3 class = "has-text-white">Who is GreenQode meant for?</h3>

        <p>
          <strong class = "has-text-white"> Everyone! </strong> Whether you're a large national park or small homestay, anyone can use GreenQode. 
        </p>
        <p>
          There are no technical skills required - all you need is internet access, a printer, and a pair of scissors!    

        </p>


      </div>

    </div>
  </div>

  <div class="column is-12">
    <div class="box has-background-primary-dark has-text-white">

      <div class="content">

        <h3 class = "has-text-white"> How much does GreenQode cost? </h3>

        <p>
          <strong class = "has-text-white"> Nothing!</strong> GreenQode is a free platform.  
        </p>

        


      </div>

    </div>
  </div>

  
  <div class="columns">
        
  </div>

  <br>
  
</div>
</section>


<style> 
  p {
    font-size: 1.15rem;
    font-weight: 'medium';
  }
</style>



{% endblock %}
