{% extends 'base.html' %}
{% load static %}



{% block title %} Community collection {% endblock %}


{% block content %}

<section class="section">
  <div class="container ">

    <h1 class="is-size-2 has-text-weight-bold">Your Collection</h1>
  
    <div class="is-flex-tablet is-flex-direction-row mb-5">
      <div class="is-flex-grow-1">
  
        <div class="block is-flex is-flex-direction-column">
          <p class="is-size-4-tablet is-size-5-mobile has-text-weight-semibold"> {{ communityName }}</p>
        </div>
      </div>

    </div>


      
  
  </div>


  {% block tabs %}
  {% endblock tabs %}
  
  <div class = "container mb-5">

    {% block listOfItems %}
    {% endblock listOfItems %}
  
  </div>
</section>



<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">


{% endblock %}
