<!-- templates/base.html -->
{% load static %}

<!DOCTYPE html>
<html>
  
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>{% block title %} {% endblock %}</title>
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"/>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'images/logo-icon.png' %}">
    

  </head>

  <body>

    <main>
      <nav class="navbar has-shadow is-spaced" role="navigation"  aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="{% url 'index' %}">
            <img src="{% static "images/logo-icon.png" %}" height = "100" class = "">
            <p class="has-text-weight-bold is-3 ml-2">
              GreenQode
            </p>
          </a>
      
          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
      
        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item" href = "{% url "index" %}">
              Home
            </a>
      
            {% if request.user.is_authenticated %}
      
            <a class="navbar-item" href = "{% url "communitycollection" %}">
              My Community
            </a>
      
            {% endif %}
      
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">
                About
              </a>
      
              <div class="navbar-dropdown">
                <a class="navbar-item" href = "{% url "about"%}">
                  More about GreenQode
                </a>
                <a class="navbar-item" href = "{% url "team"%}">
                  Team
                </a>
                <a class="navbar-item" href = "{% url "aboutsite"%}">
                  Tech stack
                </a>
      
              </div>
            </div>
      
      
            
      
      
      
      
      
          </div>
      
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
      
                {% if request.user.is_authenticated %}
      
                <a class="button is-light" href = "{% url 'logout' %}">
                  Log out
                </a>
      
                {% else %}
      
                <a class="button has-background-primary-dark has-text-white" href = "{% url "register"%}">
                  <strong>Sign up</strong>
                </a>
                <a class="button is-light" href = "{% url "login"%}">
                  Log in
                </a>
      
                {% endif %}
      
      
      
              </div>
            </div>
          </div>
        </div>
      </nav>

        {% block content %} {% endblock %}

    </main>



    <footer class="footer has-background-grey-darker has-text-white">
      <div class="content">

        <div class="columns is-desktop has-text-grey">

          <div class="column is-four-fifths has-text-grey">
            <p class="title is-5 has-text-grey"> Contact </p>
            <p class = "subtitle is-6 mt-2 has-text-grey"> Email <strong class = "has-text-grey-light"> contact.greenqode@gmail.com </strong> if you have any queries, suggestions, or feedback regarding GreenQode. <p>
            </p>
          </div>


          <div class="column is-one-fifth has-text-grey">
            <p class="title is-5 has-text-grey"> About </p>

            <a href = "{% url "about" %}" class = "has-text-grey"> About GreenQode </a> <br> 
            <a href = "{% url "team" %}"  class = "has-text-grey" > Team </a> <br>
            <a href = "{% url "aboutsite" %}"  class = "has-text-grey" > Our tech stack </a>
          </div>

        </div>

        <div class="copy has-text-centered">

          <p class = "has-text-grey">
            <strong class = "has-text-grey">&copy GreenQode</strong> by <a class = "has-text-grey-light" href="https://github.com/arjunS07/">Arjun Sharma</a>
          </p>
        </div>

      </div>
    </footer>

  </body>
  {% load static %}
  <script src="{% static "js/nav.js" %}"></script>
</html>