{% extends 'base.html' %}
{% load static %}



{% block title %} Community collection {% endblock %}


{% block content %}

<section class="section container">
  <div class="">

    <h1 class="is-size-2 has-text-weight-bold">Your Collection</h1>

    <div class="is-flex-tablet is-flex-direction-row mb-5">
      <div class="is-flex-grow-1">

        <div class="block is-flex is-flex-direction-column">
          <p class="is-size-4-tablet is-size-5-mobile has-text-weight-semibold"> {{ community.name }}</p>
        </div>
      </div>

    </div>

  </div>


  <div class="tabs is-boxed">
    <ul>
      <li class="is-active" id="allitems-btn"><a>All items</a></li>
      <li id="group-btn"><a>Groups</a></li>

    </ul>
  </div>

  <div class="mb-5">

    <div id="allitems" class="tab-content">

      <div class="is-flex is-flex-direction-row">
        {% if community.items|length == 0 %}
        <p class="is-size-6 is-flex-grow-1">Get started adding plants and trees to your community</p>
        {% else %}
        <p class="is-size-5 has-text-weight-semibold mt-5 mb-2 is-flex-grow-1 is-flex-grow-1">
          {{community.items|length}} {% if community.items|length == 1 %} item {% else %} items {% endif %}</p>
        {% endif %}

        <div class="buttons">

          {% if community.items|length > 0 %}
          <a href="{{ community.printURL }}" target="_blank" class="mr-2">
            <button
              class="button has-background-primary-dark	has-text-white is-flex is-align-items-center is-justify-content-center border-radius">
              <span class="icon is-medium">
                <i class="fa fa-print top-action-icon" aria-hidden="true"></i>
              </span>
              <span> Print QR codes</span>
            </button>
          </a>
          {% endif %}

          <a href="{% url 'additem' %}">
            <button
              class="button has-background-primary-dark	has-text-white is-flex is-align-items-center is-justify-content-center border-radius">
              <span class="icon is-medium">
                <i class="fa fa-plus" aria-hidden="true"></i>
              </span>
              <span> Add item </span>
            </button>
          </a>

        </div>
      </div>


      <div class="columns is-multiline">

        {% for item in community.items %}
        <div class="column is-one-quarter">
          <div class="box dashboard-box-card is-flex is-flex-direction-column">


              <div class="is-flex-grow-1">
                <p class="is-size-5 has-text-weight-semibold has-text-left"> {{ item.name }}</p>
                <p class="is-size-6 has-text-weight-normal has-text-left item-desc mt-3 mb-3"> {{ item.description }}</p>
              </div>

              <div class="buttons are-small is-flex-grow-0">
                <a href="{% url 'edititem' item.item_id %}" class='button has-background-link box border-radius'>
                  <span class="icon">
                    <i class="fa fa-solid fa-pencil-alt has-text-white"></i>
                  </span>
                  <span class="has-text-white"> Edit </span>
                </a>
                <button class='button has-background-link box border-radius copy-btn' id="{{ item.item_id }}"
                  onclick="copyItemURL()">
                  <span class="icon">
                    <i class="fa fa-solid fa-share has-text-white"></i>
                  </span>
                  <span class="has-text-white"> Share </span>
                </button>


            </div>

          </div>
        </div>
        {% endfor %}

      </div>
    </div>

    <div id="groups" class="is-hidden">
      <div class="is-flex is-flex-direction-row mb-4">
        {% if groups.count == 0 %}
        <p class="is-size-6 is-flex-grow-1"> Make groups to more easily manage related sets of plants or trees - like in
          an individual plantation. </p>
        {% else %}
        <p class="is-size-5 has-text-weight-semibold mt-5 mb-2 is-flex-grow-1 is-flex-grow-1"> You have {{ groups.count}} {% if groups.count == 1 %} group {% else %} groups {% endif %}</p>
        {% endif %}
        <p class="is-size-6 is-flex-grow-1">
        </p>
        <div class="buttons">
          <a href="{% url 'addgroup' %}">
            <button
              class="button has-background-primary-dark	has-text-white is-flex is-align-items-center is-justify-content-center border-radius">
              <span class="icon is-medium">
                <i class="fa fa-plus" aria-hidden="true"></i>
              </span>
              <span> Add group </span>
            </button>
          </a>
        </div>
      </div>

      <div class="columns is-multiline">

        {% for group in groups %}
        <div class="column is-one-quarter">
          <div class="box is-flex is-align-items-center is-justify-content-center is-flex-direction-column">


            <div class="is-fullwidth">
              <p class="is-size-5 has-text-weight-semibold has-text-left"> {{ group.title }}</p>
              <p class="is-size-6 has-text-weight-regular has-text-left mb-2"> {{ group.location }}</p>
              <p class="is-size-6 has-text-weight-regular has-text-left"> {{ group.numTotalItems }} plants and trees in
                this group </p>
              <p class="is-size-6 has-text-weight-regular has-text-left">{{ group.numAliveItems }} active, {{ group.numDeadItems }} inactive </p>


              <div class="buttons are-small mt-3">
                <a href="{{ group.editURL }}" class='button has-background-link box border-radius'>
                  <span class="icon">
                    <i class="fa fa-solid fa-pencil-alt has-text-white"></i>
                  </span>
                  <span class="has-text-white"> Edit </span>
                </a>

                <a href="{{ group.printURL }}" class='button has-background-link box border-radius' target="_blank">
                  <span class="icon">
                    <i class="fa fa-solid fa-print has-text-white"></i>
                  </span>
                  <span class="has-text-white"> Print </span>
                </a>

                <button class='button has-background-link box border-radius copy-btn' id="{{ group.group_id }}"
                  onclick="copyGroupURL()">
                  <span class="icon">
                    <i class="fa fa-solid fa-share has-text-white"></i>
                  </span>
                  <span class="has-text-white"> Share </span>
                </button>

              </div>

            </div>

          </div>
        </div>
        {% endfor %}

      </div>



    </div>
  </div>

  <div class="copy-container is-flex is-align-items-center is-justify-content-center is-fullwidth mt-6">
    <div class="copy-notification has-background-black has-text-white py-2 px-4 is-hidden" id="copy-notification">
      <p class="is-size-7 has-text-weight-medium has-text-centered" id="copy-notification-text"> Copied </p>
    </div>
  </div>
</section>



<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
<script>

  // when coming back with the back button, the page doesn't reload, so the mode doesn't always change. 
  if (performance.navigation.type == 2) {
    location.reload(true);
  }

  // toggle tabs
  let allItemsBtn = document.getElementById('allitems-btn');
  let groupBtn = document.getElementById('group-btn');

  allItemsBtn.addEventListener("click", showAllItems)
  groupBtn.addEventListener("click", showGroups)

  function showAllItems() {
    document.cookie = "dashboardMode=all"
    allItemsBtn.classList.add('is-active');
    groupBtn.classList.remove('is-active');
    document.getElementById('allitems').classList.remove('is-hidden');
    document.getElementById('groups').classList.add('is-hidden');
  }

  function showGroups() {
    document.cookie = "dashboardMode=all"
    allItemsBtn.classList.remove('is-active');
    groupBtn.classList.add('is-active');
    document.getElementById('allitems').classList.add('is-hidden');
    document.getElementById('groups').classList.remove('is-hidden');
  }

  // read tab mode from session
  let mode = "{{ mode }}";
  console.log(mode);

  if (mode == 'all') {
    showAllItems();
  } else if (mode == 'groups') {
    showGroups();
  }

  // copy URLs

  function copyToClipboard(text) {
    navigator.clipboard.writeText(text);
  }

  function copyURLFromTarget(target, detailRelativeURL) {
    var id = target.id;
    console.log("copy group url");
    console.log(event.target)
    console.log(id);

    let siteURL = document.location.host; // greenqode.org
    let copyingURL = siteURL + "/" + detailRelativeURL + "/" + id;

    copyToClipboard(copyingURL);

    // show success notification with URL
    document.getElementById('copy-notification').classList.remove('is-hidden');
    var message = "Copied to clipboard: " + copyingURL;
    document.getElementById('copy-notification-text').innerHTML = message;

    // hide notification after 3 seconds
    setTimeout(function () {
      document.getElementById('copy-notification').classList.add('is-hidden');
    }, 4500);
  }

  function copyGroupURL() {
    var target = event.currentTarget;
    copyURLFromTarget(target, "viewgroup");
  };

  function copyItemURL() {
    var target = event.currentTarget;
    copyURLFromTarget(target, "viewitem");
  };



</script>

{% endblock %}