{% extends 'base.html' %}
{% load static %}

{% block title %}
Edit {{ group.title }}
{% endblock title%}

{% block content %}
<link rel="stylesheet" href="{% static 'css/admin-group-detail.css' %}">

<section class="section">

    <div class="is-flex is-flex-direction-row">
        <h3 class="title is-3 is-flex-grow-1">Edit {{ group.title }} </h3>
        <button class="button is-pulled-right has-background-danger has-text-white js-modal-trigger"
            data-target="modal-js-example">
            Delete
        </button>
    </div>


    <form method="post" enctype="multipart/form-data" id="creationForm">

        {% csrf_token %}

        <p class="mt-3 is-size-5 has-text-weight-bold mb-2">Group information: </p>
        <div class="columns is-desktop">
            <div class="column">
                <div class="field mb-5">
                    <label for="" class="label">Group name</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="My plantation" name="groupName" value="{{ group.title }}"
                        id="groupName" required>
                    </div>
                </div>
                <label for="" class="label">Group location</label>
                <p class="has-text-grey mb-3">Values will automatically update based on what you choose in the map</p>
                <div class="field">
                    <label for="latitude" class="label">Latitude</label>
                    <input class="input" type="text" name = "groupLat" id="lat" value="{{ group.latitude }}" />
                </div>
                <div class="field">
                    <label for="latitude" class="label">Longitude</label>
                    <input class="input" type="text" name = "groupLong" id="lng" value="{{ group.longitude }}" />
                </div>
            </div>
            <div class="column pt-6">
                <label for="" class="label has-text-grey has-text-weight-medium">Search for a location or move the pin on the map to the target location </label>
                <input type="text" name="" id="location" class="input mb-2" placeholder="">
                <div id="map-picker" class="is-fullwidth mt-2"></div>
            </div>
        </div>

        <p class="mt-3 is-size-5 has-text-weight-bold mt-5 mb-4">Plants and trees in this group:</p>
        <div id="items" class="">

            {% for item in items %}
            <div class="field mb-3">
                <div class="">
                    <div class="control">
                        <label class="label"> Number of  {{ item.item.name }}s in this group: </label>
                        <input type="hidden" name="itemID_{{ item.item.item_id }}" value="{{ item.item.item_id }}">
                    </div>
                </div>
                <div class="is-flex is-flex-direction-row is-align-items-center is-justify-content-start">
                    <div class="control mr-3">
                        <input type="number" class="input item-quantity-input" placeholder="Active"
                            name="itemAlive_{{ item.item.item_id }}" value="{{ item.alive }}">
                    </div>  
                    <div class="control">
                        <input type="number" class="input item-quantity-input" placeholder="Inactive"
                            name="itemDead_{{ item.item.item_id }}" value="{{ item.dead}}">
                    </div>  
                </div>

            </div>
            {% endfor %}

        </div>

        <div class="control mt-5">
            <button class="button has-background-primary-dark has-text-white border-radius" id="submitbtn" disabled>
                <span class="icon">
                    <i class="fas fa-check"></i>
                </span>
                <span>
                    Save group
                </span>
            </button>
        </div>

    </form>

    <!-- Delete modal -->
    <div id="modal-js-example" class="modal">
        <div class="modal-background"></div>

        <div class="modal-content">
            <div class="box">
                <div class="content">
                    <p class="has-text-weight-bold is-size-5">Are you sure you want to delete '{{ group.title }}?'</p>
                    <p class = "mt-2">Any links related to this group will be lost. Items in this group will continue to exist independently and in other groups. </p>
                  <p>
                    <b>You cannot undo this action.</b>
                  </p>
                </div>
        
                <a href="{{ group.deleteURL }}">
                    <button class="button has-background-danger has-text-white">Yes, I'm sure. Delete this group. </button>
                </a>
              </div>
        </div>

        <button class="modal-close is-large" aria-label="close"></button>
    </div>

</section>
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="https://maps.google.com/maps/api/js?sensor=false&libraries=places&key=AIzaSyBI8TMX22hVckceOVBzA6HnzQq09-JYq2E"></script>
<script src="{% static "js/groups/map.js" %}"></script>
<script src="{% static "js/groups/edit-group-location-picker.js" %}"></script>
<script src="{% static "js/groups/group-validation.js" %}"></script>

<script>
    // Modal script
    document.addEventListener('DOMContentLoaded', () => {
        // Functions to open and close a modal
        function openModal($el) {
            $el.classList.add('is-active');
        }

        function closeModal($el) {
            $el.classList.remove('is-active');
        }

        function closeAllModals() {
            (document.querySelectorAll('.modal') || []).forEach(($modal) => {
                closeModal($modal);
            });
        }

        // Add a click event on buttons to open a specific modal
        (document.querySelectorAll('.js-modal-trigger') || []).forEach(($trigger) => {
            const modal = $trigger.dataset.target;
            const $target = document.getElementById(modal);

            $trigger.addEventListener('click', () => {
                openModal($target);
            });
        });

        // Add a click event on various child elements to close the parent modal
        (document.querySelectorAll('.modal-background, .modal-close, .modal-card-head .delete, .modal-card-foot .button') || []).forEach(($close) => {
            const $target = $close.closest('.modal');

            $close.addEventListener('click', () => {
                closeModal($target);
            });
        });

        // Add a keyboard event to close all modals
        document.addEventListener('keydown', (event) => {
            const e = event || window.event;

            if (e.keyCode === 27) { // Escape key
                closeAllModals();
            }
        });
    });
</script>

{% endblock content %}