{% extends 'base.html' %}
{% load static %}

{% block title %}
Edit {{ group.title }}
{% endblock title%}

{% block content %}
<section class="section">

    <div class="is-flex is-flex-direction-row">
        <h3 class="title is-3 is-flex-grow-1">Edit {{ group.title }} </h3>
        <button class="button is-pulled-right has-background-danger has-text-white js-modal-trigger"
            data-target="modal-js-example">
            Delete
        </button>
    </div>


    <form method="post" enctype="multipart/form-data" id="creationForm">

        {% csrf_token %}

        <p class="mt-3 is-size-5 has-text-weight-bold mb-2">Group information: </p>

        <div class="field mt-3">
            <label for="" class="label">Group name</label>
            <div class="control">
                <input class="input" type="text" placeholder="My plantation" name="groupName" value="{{ group.title }}"
                    id="groupName" required>
            </div>
        </div>

        <div class="field">
            <label for="" class="label">Group location</label>
            <div class="control">
                <input class="input" type="text" placeholder="Plantation Area #2" name="groupLocation"
                    id="groupLocation" value="{{ group.location }}" required>
            </div>
        </div>

        <p class="mt-3 is-size-5 has-text-weight-bold mt-5 mb-4">Plants and trees in this group:</p>
        <div id="items" class="">

            {% for item in items %}
            <div class="field mb-3">
                <div class="">
                    <div class="control">
                        <label class="label"> Number of  {{ item.item.name }}s in this group </label>
                        <input type="hidden" name="itemID_{{ item.item.item_id }}" value="{{ item.item.item_id }}">
                    </div>
                </div>
                <div class="is-flex is-flex-direction-row is-align-items-center is-justify-content-start">
                    <div class="control mr-3">
                        <input type="number" class="input item-quantity-input" placeholder="Active"
                            name="itemAlive_{{ item.item.item_id }}" value="{{ item.alive }}">
                    </div>  
                    <div class="control">
                        <input type="number" class="input item-quantity-input" placeholder="Inactive"
                            name="itemDead_{{ item.item.item_id }}" value="{{ item.dead}}">
                    </div>  
                </div>

            </div>
            {% endfor %}

        </div>

        <div class="control mt-5">
            <button class="button has-background-primary-dark has-text-white border-radius" id="submitbtn" disabled>
                <span class="icon">
                    <i class="fas fa-check"></i>
                </span>
                <span>
                    Save group
                </span>
            </button>
        </div>

    </form>

    <!-- Delete modal -->
    <div id="modal-js-example" class="modal">
        <div class="modal-background"></div>

        <div class="modal-content">
            <div class="box">
                <p class="has-text-weight-bold is-size-5">Are you sure you want to delete '{{ group.title }}?'</p>
                <p class = "mb-5">Any links related to this group will be lost. Items in this group will continue to exist independently and in other groups. <br> You cannot undo this action</p>
                <a href="{{ group.deleteURL }}">
                    <button class="button has-background-danger has-text-white">Yes, I'm sure. Delete this group. </button>
                </a>
                <!-- Your content -->
            </div>
        </div>

        <button class="modal-close is-large" aria-label="close"></button>
    </div>

</section>

<script>

    // validate on load
    validateForm();

    // validate when data changes
    let form = document.getElementById('creationForm');
    form.addEventListener('change', validateForm);


    function validateForm() {
        let name = document.getElementById('groupName').value;
        let location = document.getElementById('groupLocation').value;
        let quantityInputFields = document.getElementsByClassName('item-quantity-input');
        let submitBtn = document.getElementById('submitbtn');


        var isOnlyZeros = true;
        for (var i = 0; i < quantityInputFields.length; i++) {
            if (quantityInputFields[i].value != 0) {
                isOnlyZeros = false;
                break;
            }
        }

        var hasValidInput = false;
        if (name != '' && location != '' && !isOnlyZeros) {
            hasValidInput = true;
        }

        if (hasValidInput) {
            submitBtn.disabled = false;
        } else {
            submitBtn.disabled = true;
        }
    }


    // Modal script
    document.addEventListener('DOMContentLoaded', () => {
        // Functions to open and close a modal
        function openModal($el) {
            $el.classList.add('is-active');
        }

        function closeModal($el) {
            $el.classList.remove('is-active');
        }

        function closeAllModals() {
            (document.querySelectorAll('.modal') || []).forEach(($modal) => {
                closeModal($modal);
            });
        }

        // Add a click event on buttons to open a specific modal
        (document.querySelectorAll('.js-modal-trigger') || []).forEach(($trigger) => {
            const modal = $trigger.dataset.target;
            const $target = document.getElementById(modal);

            $trigger.addEventListener('click', () => {
                openModal($target);
            });
        });

        // Add a click event on various child elements to close the parent modal
        (document.querySelectorAll('.modal-background, .modal-close, .modal-card-head .delete, .modal-card-foot .button') || []).forEach(($close) => {
            const $target = $close.closest('.modal');

            $close.addEventListener('click', () => {
                closeModal($target);
            });
        });

        // Add a keyboard event to close all modals
        document.addEventListener('keydown', (event) => {
            const e = event || window.event;

            if (e.keyCode === 27) { // Escape key
                closeAllModals();
            }
        });
    });



</script>
{% endblock content %}