{% extends 'base.html' %}
{% load static %}


{% block title %} {{ community.name }} - {{ group.title }} {% endblock %}

{% block content %}

<section class="section">
  <div class="">
    <div class="mb-3">
      <h1 class="title is-3 has-text-weight-bold"> {{ group.title }} </h1>
      <p class="is-size-5 has-text-weight-medium has-text-grey-dark">
        By: <a href="{{ group.community.detailURL }}" class="has-text-success	">
          {{ group.community.name }}
        </a>
      </p>
      <p class="is-size-5 has-text-weight-medium mb-4" href=""> {{ group.numTotalItems }} plants and trees </p>

      {% if group.googleMapsURL %}
      <a href="{{ group.googleMapsURL }}" target="_blank">
        <button class="button has-background-primary-dark has-text-white border-radius">
          <span>Open in Google Maps </span>
          <span class="icon">
            <i class="fa-solid fa-up-right-from-square"></i>
          </span>

        </button>
      </a>
      {% endif %}
    </div>

    <br>

    <div class="columns is-desktop is-multiline">

      {% for throughModel in throughModels %}

      {% if throughModel.allTotal > 0 %}
      <div class="column is-one-quarter">
        <div class="box">
          <div class="is-flex is-flex-direction-row is-justify-content-space-between is-align-items-center mb-4">
            <p class="is-size-4 has-text-weight-bold">
              {{ throughModel.item.name }}
            </p>
            <p class="has-text-weight-bold has-text-black is-size-5 is-pulled-right"> {{ throughModel.allTotal }} </p>


          </div>
          <div class="is-flex is-flex-direction-row is-justify-content-space-between is-align-items-flex-end">
            <div>
              <p class="has-text-grey">
                {{ throughModel.alive }} active
              </p>
              <p class="has-text-grey">
                {{ throughModel.dead }} inactive
              </p>
            </div>
            <a href="{{ throughModel.item.get_absolute_url }}">
              <button class="button has-background-primary-dark has-text-white is-small border-radius">Info</button>
            </a>

          </div>

        </div>
      </div>
      {% endif %}



      {% endfor %}
    </div>


  </div>
</section>


<link rel="stylesheet" href="{% static 'css/view-item.css' %}">


{% endblock %}