
{% extends 'base.html' %}


{% block title %} GreenScan - Add printable QR codes to trees and plants in your community {% endblock %}

{% block content %}

{% load static %}

<section class="hero has-background-success-light  ink is-fullheight-with-navbar">
  <div class="is-flex is-flex-direction-column is-justify-content-center hero-body" id = "main-hero-body">

    <div class="hero-columns columns is-align-items-center">
      <div class="column is-5 is-flex is-flex-direction-column is-justify-content-center">
        

        
        <p class="title is-2 has-text-weight-bold pb-2">
          Educate about your greenery
        </p>
        <p class="subtitle is-4 has-text-weight-medium pt-2">
          Easily add printable QR codes to trees and plants in your community to help people learn about its biodiversity.
        </p>

        <a href="/register" class = "mgt-20">
          <button class="box button is-large is-responsive has-background-primary-dark has-text-white hvr-icon-forward " id = "hero-btn">
            <span class = "mr-2"> Get started </span>
            <i class="fa fa-chevron-circle-right hvr-icon"></i>
          </button>
        </a>

      </div>
      <div class="column is-hidden-mobile">
        <figure class = "image">
          <img src = "{% static 'images/abstract-nature.svg' %}">
        </figure>
      </div>
    </div>

    <div class="spinner-container is-flex-grow-0">
      <div class="spinner scroll-down"> <a class="animate"></a> </div>
    </div>

  </div>
</section>

<section class="hero is-medium has-background-primary-light">
  <div class="hero-body">
    <p class="title is-2">
      More meaningfully engage your community with your greenery
    </p>
    <p class="subtitle is-4 has-text-weight-medium">
      <br>
      Every park, residential complex, school or public area wants their community to learn about the wide variety of trees and plants that are present there.
      <br> <br> 
      GreenScan makes it easy for community managers to help community members to learn all about these  trees and plants surrounding them.
    </p>
  </div>
</section>

<section class="section is-halfheight has-background-success-light has-text-centered">

  <h1 class="title is-2">Here's what happens:</h1>

  <div class="block">
    <h2 class="title is-4 has-text-left">A community manager can...</h2>

    <div class="columns">
  
      <div class="column">
        <div class="box has-background-primary-dark has-text-white is-flex is-flex-direction-column is-justify-content-center is-align-items-center">
          <span class="icon is-large">
            <i class="fa fa-plus" aria-hidden="true"></i>
          </span>
          <p class="bd-notification is-primary">Add community trees and plants to their dashboard</p>
        </div>
      </div>
      
      <div class="column is-narrow is-flex is-justify-content-center is-align-items-center is-hidden-mobile">
        <i class="fa fa-solid fa-arrow-right"></i>
      </div>
  
      <div class="column is-narrow is-flex is-justify-content-center is-align-items-center is-hidden-tablet">
        <i class="fa fa-solid fa-arrow-down"></i>
      </div>
  
      <div class="column">
        <div class="box has-background-primary-dark has-text-white is-flex is-flex-direction-column is-justify-content-center is-align-items-center">
          <span class="icon is-large">
            <i class="fa fa-qrcode" aria-hidden="true"></i>
          </span>
          <p class="bd-notification is-primary">Obtain automatically generated QR codes for each item they add</p>
        </div>
      </div>
      
      <div class="column is-narrow is-flex is-justify-content-center is-align-items-center is-hidden-mobile">
        <i class="fa fa-solid fa-arrow-right"></i>
      </div>
  
      <div class="column is-narrow is-flex is-justify-content-center is-align-items-center is-hidden-tablet">
        <i class="fa fa-solid fa-arrow-down"></i>
      </div>
  
      <div class="column">
        <div class="box has-background-primary-dark has-text-white is-flex is-flex-direction-column is-justify-content-center is-align-items-center">
          <span class="icon is-large">
            <i class="fa fa-print" aria-hidden="true"></i>
          </span>
          <p class="bd-notification is-primary">Print an autogenerated sheet of QR codes for all of their trees </p>
        </div>
      </div>
  
      <div class="column is-narrow is-flex is-justify-content-center is-align-items-center is-hidden-mobile">
        <i class="fa fa-solid fa-arrow-right"></i>
      </div>
  
      <div class="column is-narrow is-flex is-justify-content-center is-align-items-center is-hidden-tablet">
        <i class="fa fa-solid fa-arrow-down"></i>
      </div>
  
      <div class="column">
        <div class="box has-background-primary-dark has-text-white is-flex is-flex-direction-column is-justify-content-center is-align-items-center">
          <span class="icon is-large">
            <i class="fa fa-plus" aria-hidden="true"></i>
          </span>
          <p class="bd-notification is-primary">Place the QR code cutouts throughout their community</p>
        </div>
      </div>
    </div>
  </div>


  <br>
  <br>

  <div class="block">
    <h2 class="title is-4 has-text-left">... and then a community member can:</h2>
    <div class="tile is-ancestor">
      <div class="tile is-horizontal">
        <div class="tile is-parent">
          <div class="tile is-child box has-background-primary-dark has-text-white is-flex is-flex-direction-column is-justify-content-center is-align-items-center">
              <span class="icon is-large">
                <i class="fa fa-camera" aria-hidden="true"></i>
              </span>
              <p class="bd-notification is-primary">Scan the QR code on a tree or plant using their mobile phone camera </p>
            <!--Content here-->
          </div>
        </div>
  
        <div class="column is-narrow is-flex is-justify-content-center is-align-items-center is-hidden-mobile">
          <i class="fa fa-solid fa-arrow-right"></i>
        </div>
    
        <div class="column is-narrow is-flex is-justify-content-center is-align-items-center is-hidden-tablet">
          <i class="fa fa-solid fa-arrow-down"></i>
        </div>
  
  
      <div class="tile is-parent">
        <div class="tile is-child box has-background-primary-dark has-text-white is-flex is-flex-direction-column is-justify-content-center is-align-items-center">
          <span class="icon is-large">
            <i class="fa fa-regular fa-compass" aria-hidden="true"></i>
          </span>
          <p class="bd-notification is-primary">Automatically has a webpage open on their phone </p>
        </div>
      </div>
  
      <div class="column is-narrow is-flex is-justify-content-center is-align-items-center is-hidden-mobile">
        <i class="fa fa-solid fa-arrow-right"></i>
      </div>
  
      <div class="column is-narrow is-flex is-justify-content-center is-align-items-center is-hidden-tablet">
        <i class="fa fa-solid fa-arrow-down"></i>
      </div>
  
      <div class="tile is-parent p-8">
        <div class="tile is-child box has-background-primary-dark has-text-white is-flex is-flex-direction-column is-justify-content-center is-align-items-center">
          <span class="icon is-large">
            <i class="fa fa-book-reader" aria-hidden="true"></i>
          </span>
          <p class="bd-notification is-primary"> Read the latest information entered by the community manager for that item </p>
        </div>
      </div>
  
  
  
      </div>
    </div>
  </div>



  

  </div>

</section> 



<section class="hero is-medium has-background-primary-light">
  <div class="hero-body">
    <p class="title is-2">
      It's all customisable
    </p>
    <p class="subtitle is-4 has-text-weight-medium">
      As a community manager, every detail that you and the community see about your greenery is customisable.

      <div class="tile is-ancestor">

        <div class="tile is-horizontal has-text-centered">

          <div class="tile is-parent">
            <div class="tile box is-child has-background-primary-dark has-text-white is-child is-flex is-align-items-center is-justify-content-center is-flex-direction-column">
              <span class="icon is-large">
                <i class="fa fa-tree" aria-hidden="true"></i>
              </span>
              <p> The name of the plant or tree - the scientific one, common one, or both! </p>
            </div>
          </div>

          <div class="tile is-parent">
            <div class="tile box is-child has-background-primary-dark has-text-white is-child is-flex is-align-items-center is-justify-content-center is-flex-direction-column">
              <span class="icon is-large">
                <i class="fa fa-align-left" aria-hidden="true"></i>
              </span>
              <p> A description of the plant or tree. We've added a Google button so it's easier for you to find information </p>
            </div>
          </div>

          <div class="tile is-parent">
            <div class="tile box is-child has-background-primary-dark has-text-white is-flex is-align-items-center is-justify-content-center is-flex-direction-column">
              <span class="icon is-large">
                <i class="fa fa-solid fa-list" aria-hidden="true"></i>
              </span>
            <p> A list of the other places in the community where you can find the same trees or plants.</p>
            </div>
          </div>

          <div class="tile is-parent">
            <div class="tile box is-child has-background-primary-dark has-text-white is-flex is-align-items-center is-justify-content-center is-flex-direction-column">
              <span class="icon is-large">
                <i class="fa fa-thin fa-calculator" aria-hidden="true"></i>
              </span>
              <p> The quantity of the item or clusters of the item. This determines how many QR codes are printed. </p>
            </div>
          </div>

        </div>



      </div>

    </p>
  </div>
</section>

<section class="hero is-medium has-background-success-dark">
  <div class="hero-body has-text-white">
    <p class="title is-2 has-text-white">
      Can't wait to get started?
    <p class="subtitle is-4 has-text-weight-medium has-text-white mt-5">
      Get set up effortlessly. 
    </p>
    <br>
    <a href="/register" class = "">
      <button class="box button is-large is-responsive has-background-success-light	 hvr-icon-forward " id = "hero-btn">
        <span class = "mr-2"> Register your community now </span>
        <i class="fa fa-chevron-circle-right hvr-icon"></i>
      </button>
    </a>
  </div>
</section>

<link rel="stylesheet" href="{% static 'css/hover-min.css' %}">
<link rel="stylesheet" href="{% static 'css/scrolling-prompt.css' %}">
<link rel="stylesheet" href="{% static 'css/home.css' %}">

{% endblock %}
