

{% extends 'base.html' %}
{% load static %}


{% block title %} {{ community.name }} - {{ item.name }} {% endblock %}

{% block content %}

<section class="section">
  <div class="">
    <div class="">
      <h1 class="title is-3 has-text-weight-bold"> {{item.name }} </h1>
      <p class="is-size-5 has-text-weight-medium"> 
        In: <a href = "{{ community.detailURL }}" class = "has-text-success	">
           {{ community.name }} 
        </a>
      </p>
      <p class="is-size-5 has-text-weight-medium" href=""> 
              </p>
  
  </div>
  
  <br>
   
  <p class="is-size-6 has-text-weight-normal item-desc">
    {{item.description}}
  </p>
  
  </div>
</section>


<link rel="stylesheet" href="{% static 'css/view-item.css' %}">


{% endblock %}
